/*
@media screen and (min-width: 64em) {

}

@media screen and (min-width: 42em) and (max-width: 64em) {

}

@media screen and (max-width: 42em) {

}

*/

@media screen and (min-width: 64em) {
    .main-container{
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-container{
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-container{
        margin-bottom: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }


}

.content-page{

    animation-name: PageAnim;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
@keyframes PageAnim {
    0% {
        transform: TranslateX(0);
        opacity: 1;

    }
    49% {
        transform: TranslateX(130vh);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    51% {
        transform: TranslateX(-130vh);
        opacity: 0;
    }
    52% {
        transform: TranslateX(-130vh);
        opacity: 0;
    }

    100% {
        transform: TranslateX(0);
        opacity: 1;
    }
}


.content-header {

}

.content-header h1 {
    color: black;
    font-weight: 900;
    text-align: center;
}

.content-header h2 {
    color: gray;
    font-weight: lighter;
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 64em) {

    .content-header {
        padding: 7rem 8rem 2rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .content-header {
        padding: 6rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .content-header {
        padding: 4rem 1rem;
    }
}

@media screen {
    .content-header {
        width: 100%;

    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-content{
    background: #fff;
    box-shadow: 0 9px 0 0 white, 0 -9px 0 0 white, 12px 0 15px -4px rgba(122, 122, 122, 0.2), -12px 0 15px -4px rgba(122, 122, 122, 0.2);
}

.hamburger-btn {
    position: absolute;
    margin: 1rem;
    padding: 1rem;

}

.page-header.disabled {
    height: 52px;
}

.page-header.disabled .menu {
    max-height: 0;
}

.page-header.disabled .header-logo img {
    width: 40px;
    height: 40px;
    top: 10%;

}

.hamburger-btn:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.15em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
    cursor: pointer;
}

.body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;

    animation-name: LoadAnim;
    animation-duration: 1s;

    background-color: #eee;

}

@keyframes LoadAnim {
    0% {
        transform: TranslateY(20vh);
        opacity: 0;

    }
    100% {
        transform: TranslateY(0vh);
        opacity: 100;
    }
}

.header-text {
    text-align: left;
    float: left;
    padding-left: 2%;
}

.header-text h1 {
    text-align: left;
    font-size: medium;
    margin: 0;
    padding: 0;

}

.header-text h2 {
    text-align: left;
    font-size: small;
}

.page-header {

    z-index: 999;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.38);

    position: fixed;
    width: 100%;

    color: white;
    background-color: #292929;
    height: 100px;

    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
}

.menu {

    max-height: 100%;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.navigation-bar {
    display: inline;
    float: right;
    font-family: 'Roboto', sans-serif;

}

.navigation-bar li {
    color: white;
    display: inline-block;
    padding: 5%;
}

.navigation-bar a {
    color: white;
    padding-bottom: 5%;
    text-decoration: none;
}

.header-logo {

}

.header-logo img {
    float: left;
    max-height: 60px;
    max-width: 60px;

    transform-origin: center center;
    margin: 0;

    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;

}

.nav-div {
    position: relative;
}

/*Header Scale*/
@media screen and (min-width: 64em) {
    .page-header {
        padding: 1rem 1rem;

    }

    .hamburger-btn {
        visibility: collapse;
    }

    .nav-div{
        display: inline;
        list-style-type: none;
    }

    .navigation-bar {
        float: right;
        position: relative;
        padding-right: 5rem;
    }

    .navigation-bar li {
        color: white;
        display: inline-block;
        padding: 0;
        margin: 10px;
        list-style-type: none;
    }


    .navigation-bar a {
        alignment: left;
        text-align: left;
    }

}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        height: 40px;
        alignment: center;
    }

    .navigation-bar {
        float: none;
        position: relative;
    }

    .header-logo img {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 1%;
    }

    .header-text {
        visibility: collapse;
    }

    .hamburger-btn {
        visibility: collapse;
    }

    .nav-div {

        bottom: 2rem;

        display: inline;
        margin-left: auto;
        margin-right: auto;

    }

    .navigation-bar li {
        color: white;
        display: inline-block;
        padding: 5%;

    }

}

@media screen and (max-width: 42em) {

    .page-header {
        height: 245px;
    }

    .header-logo img {
        position: absolute;
        left: 50%;
        width: 100px;
        height: 100px;
    }

    .header-text {
        visibility: collapse;

    }

    .nav-div {
        position: relative;
        top: 4.5rem;
    }

    .navigation-bar {
        display: table-row-group;
        float: none;
    }

    .navigation-bar li {
        height: 40px;
        color: white;
        display: block;
        width: 100%;
        padding: 5%;
    }

    .navigation-bar a {
        color: white;
        width: 100%;
        left: 10%;
        alignment: left;
        text-align: left;
    }

}

/*END*/

/*Main Content scale BEGIN*/

.main-content :first-child {
    margin-top: 0;
}

.main-content img {
    max-width: 100%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
}

.main-content p {
    margin-bottom: 1em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem;
}

.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
}

.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main-content .highlight {
    margin-bottom: 1rem;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
}

.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal;
}

.main-content ul, .main-content ol {
    margin-top: 0;
}

.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
    margin-top: 0;
}

.main-content blockquote > :last-child {
    margin-bottom: 0;
}

.main-content table {
    display: block;
    width: 100%;
    overflow: auto;

}

.main-content table th {
    font-weight: bold;
}

.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

.main-content dl {
    padding: 0;
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem;
}

.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;

}

@media screen and (min-width: 64em) {

    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }

}

/*END*/

/*FOOTER*/

.footer-div {
    max-width: 800px;
    align-content: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;

    margin-left: auto;
    margin-right: auto;
}

.soical-section li {
    text-overflow: ellipsis;
    margin: 0;
    float: left;
    width: 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    list-style-type: none;
}

.soical-section {
    list-style-type: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.soical-section li p {
    text-align: left;
}

.social-images {
    width: 100%;
    margin: 0;
    padding: 0;
}

.social-images img:hover {
    -webkit-filter: invert(0.5);
    filter: invert(0.5);
}

.social-images img {
    width: 10%;
    float: left;
    margin: 0;
    padding: 0;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.social-links {
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

a.social-links:link {
    color: gray;
}

a.social-links:visited {
    color: gray;
}

a.social-links:hover {
    color: #1E90FF;
}

.site-footer {
    color: #fff;
    text-align: center;
    background-color: #292929;
    width: 100%;
    height: 100%;
}

.footer-copyright {
    color: gray;
    font-size: 0.5rem;
    text-align: center;
}

.footer-image {
    border-radius: 90px;
    padding: 20px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 0;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;

    -webkit-filter: grayscale(1);
    filter: grayscale(1);

}

.soical-section li img {
    list-style-type: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.footer-image:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.info-box {
    float: left;
}

.footer-info {
    text-align: justify;

}

@media screen and (min-width: 64em) {

    .soical-section li p {
        visibility: visible;
    }

    .site-footer {
        padding: 1rem 1rem;
        font-size: 1.1rem;
    }

    .footer-copyright {
        font-size: 0.6rem;
    }

    .footer-image {
        float: left;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .soical-section li p {
        visibility: visible;
    }

    .site-footer {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }

    .footer-copyright {
        font-size: 0.7rem;
    }

    .footer-image {
        float: none;
    }

}

@media screen and (max-width: 42em) {
    .site-footer {
        padding: 1rem 1rem;
    }

    .footer-copyright {
        font-size: 0.5rem;
    }


    .footer-image {
        float: none;
        visibility: visible;
    }

    .soical-section li p {
        visibility: visible;
        text-align: justify;
        max-height: 0;
    }

    .soical-section li img {
        width: 20%;
        float: left;
    }

}

/*END*/

/* CONTACT PAGE */

/*
@media screen and (min-width: 64em) {

}

@media screen and (min-width: 42em) and (max-width: 64em) {

}

@media screen and (max-width: 42em) {

}

*/


/* CONTACT FORM */

.project-form{
    width: 100%;
    margin: 1rem;

}

.project-form textarea{
    width: 100%;
    height: 10em;
    max-width: 100%;
    margin-bottom: 1rem;


}
.contact-div{
    margin-top: 2rem;
    margin-bottom: 1rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.contact-div h1{

    font-size: xx-large;
    color: gray;

    margin-top: 2rem;
    margin-bottom: 1rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom: thin solid rgba(128, 128, 128, .4);
    border-left-style: hidden;
}

.contact-div h2{
    font-size: large;
    color: #5f5f5f;
    text-align: justify;

    margin: 1rem;

}

.contact-form{

}

.contact-form div{
    padding: 1rem;
}

.contact-form div input{
    width: 15rem;
    float: right;
}

.send-email{
    display: inline-block;
    padding: 1em;
    margin: 1rem;
    background-color: #1E90FF;
    text-decoration: none;
    color: white;
    cursor: pointer;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.twitter-mention-button{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 64em) {

    .contact-form div input{
        width: 15rem;
        float: right;
    }

    .contact-div h1{
        text-align: left;
    }
    .contact-div h2{
        text-align: left;
    }

    .contact-form div{
        padding: 1rem;
    }

}


@media screen and (max-width: 42em) {

    .contact-form div input{
        width: 100%;
        float: right;
    }

    .project-form input{
        width: 90%;
    }

    .project-form textarea{
        width: 100%;
        height: 10em;
        max-width: 95%;
        margin-bottom: 1rem;

    }

    .contact-div h1{
        text-align: center;
    }

    .contact-div h2{
        text-align: center;
    }

    .contact-form div{
        padding: 1rem 1rem 2rem;
    }

    .send-email{
        width: 95%;

    }
}
/* PORTFOLIO LAYOUT */

.grid {
    padding: 0.25em;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
}

.grid li {
    float: left;
    width: 100%;
    padding: 0.25em;
    -webkit-transition: all 1s, padding 0.3s;
    -moz-transition: all 1s, padding 0.3s;
    transition: all 1s, padding 0.3s;
}

.grid li:hover {
    padding: 1rem;
}

.grid img {
    display: block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;

}

@media screen and (min-width: 64em) {

    .grid li {
        width: 33%;
        padding: 0.2em;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .grid li {
        width: 50%;
    }
}

@media screen and (max-width: 42em) {
    .grid li {
        width: 100%;
        padding: 1rem;
    }
}

/* Portfolio END */

/* CONTENT HEADER */

.content-header {

}

.content-header h1 {
    color: black;
    font-weight: 900;
    text-align: left;
}

.content-header h2 {
    color: gray;
    font-weight: lighter;
    text-align: left;

}

@media screen and (min-width: 64em) {

    .content-header {
        padding: 6rem 6rem 1rem;

    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .content-header {
        padding: 3rem 1rem 3rem;
    }
}

@media screen and (max-width: 42em) {
    .content-header {
        padding: 3rem 2rem 2rem;
    }

    .content-header h1 {
        text-align: center;
    }

    .content-header h2 {
        text-align: center;

    }
}



/*contact end*/